# ==========================
# Python Cache
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Git
# ==========================
.git/
.gitignore

# ==========================
# Large Dataset
# ==========================
landmarks_dataset/

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
Thumbs.db
.DS_Store

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Build Files
# ==========================
build/
dist/

# ==========================
# Tests (optional)
# ==========================
pytest_cache/